services:
  minecraft:
    image: itzg/minecraft-server
    volumes:
      - name_of_world_folder:/data
      - /abs/path/to/plugins:/plugins
      - /abs/path/to/server-icon.png:/server-icon.png
    ports:
      - 25565:25565
    environment:
      SERVER_NAME: "ADD_SERVER_NAME_HERE"
      EULA: "TRUE"
      OPS: "ADD_MC_USERNAME_HERE"
      ENABLE_WHITELIST: "TRUE"
      ENFORCE_WHITELIST: "TRUE"
      MAX_PLAYERS: 6
      MOTD: "Be good, kid."
      SIMULATION_DISTANCE: 6
      VIEW_DISTANCE: 12
      ENABLE_QUERY: false
      #JAVA_OPTS: -Xmx6G
      TYPE: FABRIC
      VERSION: 1.21.10
      ICON: /server-icon.png
    tty: true
    stdin_open: true
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 7G

volumes:
  minecraftdata:
    external: true
  oldworld:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /abs/path/to/data
